@model IEnumerable<IAUToDoList.Models.ToDoItem>

@{
    Layout = null;
}

<div>
    <h2>Yapılacaklar Listesi</h2>
    @{ 
        var todoitems = Model;
        Response.AddHeader("Content-disposition", "attachment; filename=yapilacaklar.xls");
        Response.ContentType = "application/octed-stream";
        var firstLine = todoitems.FirstOrDefault();
    }

    @if(firstLine!=null)
    {
        <table style="border:1px solid black;">
            <tr style="font-weight:bold">
                @foreach(var property in firstLine.GetType().GetProperties())
                {
                    if(!property.GetType().GetInterfaces().Any(x=>x.IsGenericType))
                    {
                        <td style="border:1px solid #a59f9f">
                            @{ 
                                var dn = (System.ComponentModel.DisplayNameAttribute)property.GetCustomAttributes(typeof(System.ComponentModel.DisplayNameAttribute), true).SingleOrDefault();
                                var displayName = (dn != null ? dn.DisplayName : property.Name);
                            }
                            @displayName
                        </td>
                    }
                }
            </tr>
            @foreach(var todoitem in todoitems)
            {
                <tr>
                    @foreach(var ToDoItemProperty in todoitem.GetType().GetProperties())
                    {
                        if(!ToDoItemProperty.GetType().GetInterfaces().Any(x=>x.IsGenericType))
                        {
                            <td style="border:1px solid black">@ToDoItemProperty.GetValue(todoitem,null)</td>
                        }
                    }
                </tr>
            }
        </table>
    }

</div>


    