@{
    ViewBag.Title = "E-Posta Onayla";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-Postanızı teyit ettiğiniz için teşekkür ederiz. Lütfen @Html.ActionLink("Buradan giriş yapın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
