@{
    ViewBag.Title = "Birşeyler ters.";
    Layout = null;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lütfen şifrenizi sıfırlamak için E-Postanızı kontrol edin.
    </p>
</div>
	
