@{
    ViewBag.Title = "Şifre sıfırlama doğrulaması.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifreniz sıfırlandı. Lütfen @Html.ActionLink("Giriş buradan giriş yapın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
